.dark {
    background-color: #373737;
}

.navbar {
    display: flex;
    justify-content: center;
}

.navbar_menu {
    padding: 1em;
    height: 27px;
    font-family: Montserrat, serif;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 18px;
    text-decoration: none;
    letter-spacing: 2.7px;
    text-transform: uppercase;
}

.link {
    color: #FF0000;
}

.main {
    max-width: 1200px;
    margin: 0 auto;
}

.image {
    width: 100%;
}

.h2 {
    font-family: Montserrat, serif;
    font-style: normal;
    font-weight: bold;
    font-size: 22px;
    line-height: 27px;
    display: flex;
    justify-content: center;
    padding-top: 50px;
    letter-spacing: 3.3px;
    text-transform: uppercase;
    color: #373737;
}

.text {
    padding-top: 50px;
    font-family: Montserrat, serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 26px;
    display: flex;
    justify-content: center;
    text-align: center;
    letter-spacing: 2.4px;
    width: 100%;
    color: #373737;
}

.text2 {
    padding-top: 30px;
    font-family: Montserrat, serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 26px;
    display: flex;
    justify-content: center;
    text-align: center;
    letter-spacing: 2.4px;
    width: 100%;
    color: #373737;
}

.div {
    text-align: center;
}

.button {
    background: #FF0000;
    width: 191px;
    height: 40px;
    display: inline-flex;
    justify-content: center;
    margin-top: 30px;
    padding-top: 20px;
    border-radius: 4px;
    font-family: Montserrat, serif;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    letter-spacing: 1.8px;
    text-transform: uppercase;
    color: #FFFFFF;
}


.h3 {
    padding-top: 40px;
    font-family: Montserrat, serif;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 20px;
    display: flex;
    justify-content: flex-end;

    color: #373737;
}


.theme-button {
    width: 100px;
    height: 35px;
    font-size: 12px;
    font-family: 'Montserrat', serif;
    color: #9484f2;
    border: 2px solid blue;
}

.dark .h2 {
    color: #FFFFFF;
}

.dark .text {
    color: #FFFFFF;
}

.dark .text2 {
    color: #FFFFFF;
}

.dark .h3 {
    color: #FFFFFF;
}