
.container {
    margin-top: 30px;
    height: 500px;
    position: relative;
}


.image-to-show {
    width: 400px;
    height: 400px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    opacity: 0;
}

.show {
    opacity: 1;
    transition: opacity 0.5s;
}

.images-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.button{
    display: flex;
    justify-content: center;
}

button {
    border: 1px solid red;
    border-radius: 5px;
    background: red;
    text-align: center;
    color: #fff;
    padding: 10px;
}

button:hover {
    cursor: pointer;
}

