
.h2 {
    display: flex;
    justify-content: center;
    font-family: Open Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 27px;
    line-height: 37px;
    text-transform: uppercase;
    padding-top: 50px;
    color: #18B4CF;
}

.container {
    width: 100%;
    max-width: 1600px;
    height: 1030px;
    margin: 0 auto;
    text-align: center;
    background: #F2F2F2;
}

.main {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 50px;
    background: #F2F2F2;
}

.main2 {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}


.mainblock1 {
    width: 370px;
    height: 259px;
    padding-right: 30px;
}

.mainblock2 {
    width: 370px;
    height: 380px;
}

.mainblock3 {
    width: 370px;
    height: 290px;
    padding-left: 30px;
}

.mainblock4 {
    width: 370px;
    height: 260px;
    padding-right: 30px;
}


.mainblock5 {
    margin-top: 70px;
    width: 370px;
    height: 247px;

}

.mainblock6 {
    width: 370px;
    height: 380px;
    padding-left: 30px;
}

.mainblock_text{
    font-family: Open Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 25px;
    height: 40px;
    width: 370px;
    color: #353A3D;
    background: #ffffff;
}

.hide_button {
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

.slide {
    background-color: green;
    height: 50px;
    width: 200px;
    border-radius: 5px;
    border: 3px solid greenyellow;
    color: #FFFFFF;
    font-size: 20px;
    font-weight: 500;
}

#button {
    display: inline-block;
    background-color: greenyellow;
    text-align: center;
    font-size: 3em;
    width: 40px;
    height: 40px;
    border-radius: 5px;
    position: fixed;
    bottom: 30px;
    right: 30px;
    visibility: hidden;
}


#button.show {
    opacity: 1;
    visibility: visible;
}